<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freedvice</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Freedvice</h1>
    <img src="/images/logo.jpg" class="wisecat">
    <h3>Whether you asked for it or not, here's some free advice. Take it and chill.</h3>
    <div class="advice"> <%= adv %> </div>
    <form action="/" method="GET">
        <input type="submit" value = "Fresh Advice" class="but">
    </form>
</body>
</html>
